@charset "utf-8";
@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}
/* 노말라이즈 */
html > body {
	font-family: "Pretendard-Regular";
	color: #333;
	text-underline-position: under;
}

body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

/* 라이브러리 */
.con-min-width {
	min-width: 1200px;
}

.con {
	margin: 0 auto;
	width: 1200px;
}

.flex {
	display: flex;
}

.h-full {
	height: 100%;
}

.ai-c {
	align-items: center;
}

.ai-e {
	align-items: end;
}

.flex-col {
	flex-direction: column;
}

.flex-1 {
	flex: 1 0 0;
}

.flex-grow {
	flex-grow: 1;
}

.ml-auto {
	margin-left: auto;
}

:root {
	--menu-height: 152px;
}

/* 커스텀 */
.top-bar {
	height: 100px;
}

.top-bar > .con {
	position: relative;
}

.top-bar > .con::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: black;
	height: 0;
	transition: height .5s;
}

.top-bar > .con.active::after {
	height: var(--menu-height);
}

.menu-box {
	margin-right: 20px;
}

.menu-box > ul {
  border: 1px solid black;
}

.menu-box > ul > li {
	width: 150px;
	position: relative;
}

.menu-box > ul > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: black;
}

.menu-box ul > li > a {
	display: block;
	padding: 10px;
	position: relative;
	text-align: center;
}

.menu-box ul > li:hover > a {
	color: white;
	background-color: black;
	text-decoration: underline;
}

.menu-box > ul:hover > li > ul {
	max-height: var(--menu-height);
}

.menu-box > ul > li:first-child > ul {
  border-left: 1px solid black;
}

.menu-box > ul > li:last-child > ul {
  border-right: 1px solid black;
}

.menu-box > ul ul {
	position: absolute;
	top: 100%;
	left: -1px;
	max-height: 0;
	width: calc(100% + 1px);
	transition: max-height .5s;
	overflow: hidden;
	color: white;
  border-bottom: 1px solid black;
	z-index: 99;
}

.menu-box > ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
}

.menu-box > ul ul > li:hover > a {
	background-color: white;
	color: black;
}

/* 섹션 B 파트 시작 */
.slider-box {
	height: 300px;
	overflow: hidden;
}

.slider-box > .slider-wrapper {
	height: 100%;
	transition: margin-top .3s;
}

.slider-box > .slider-wrapper > .slide-item,
.slider-box > .slider-wrapper > .slide-item > img {
	height: 100%;
}

.slider-box[data-index="0"] > .slider-wrapper {
	margin-top: 0;
}

.slider-box[data-index="1"] > .slider-wrapper {
	margin-top: -300px;
}

.slider-box[data-index="2"] > .slider-wrapper {
	margin-top: -600px;
}

/* 섹션 C 파트 시작 */
/* 탭박스 */
.section-middle > .con {
	height: 200px;
	gap: 0 10px;
}

.section-middle .content {
	width: calc(100% / 3);
}

.content-left {
	display: flex;
	flex-direction: column;
}

.notice-title {
	background-color: #efefef;
	padding: 5px 10px;
	border-radius: 10px 10px 0 0;
}

.notice-title span {
	font-size: 1.2em;
	font-weight: bold;
}

.notice-content {
	flex-grow: 1;
	padding: 10px;
}

.notice-content ul li {
	flex-grow: 1;
	width: 100%;
	display: flex;
	align-items: center;
}

.notice-content ul li > a {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.notice-content ul li:hover > a {
	text-decoration: underline;
	color: #bbb;
}

.notice-content ul li > a > span:first-child::before {
	content: "•";
}

.content-middle {
	display: flex;
	flex-direction: column;
}

.gallary-title {
	background-color: #efefef;
	padding: 5px 10px;
	border-radius: 10px 10px 0 0;
}

.gallary-title span {
	font-weight: bold;
	font-size: 1.2rem;
}

.gallary-content {
	flex-grow: 1;
}

.gallary-content > ul {
	align-items: center;
	justify-content: space-around;
}

.content-right > a {
	display: block;
	height: 100%;
}

/* 팝업창 구현 시작 */
.popup {
	position: fixed;
	inset: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, .3);
	display: none;
	align-items: center;
	justify-content: center;
}

.popup.active {
	display: flex;
}

.popup-content {
	min-height: 500px;
	max-width: 400px;
	background-color: white;
}

.popup-head .popup-title {
	font-size: 1.5rem;
	padding: 10px;
}

.popup-body {
	padding: 10px;
	position: relative;
}

.popup-body::before,
.popup-body::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 96%;
	height: 1px;
	background-color: black;
}

.popup-body::before {
	top: 0;
}

.popup-body::after {
	bottom: 0;
}

.popup-foot {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}

.close-btn {
	cursor: pointer;
	border: 2px solid black;
	padding: 10px 20px;
	font-weight: bold;
	background-color: #dfdfdf;
}
/* 팝업창 구현 끝 */

/* 푸터 구현 시작 */
.footer-bar {
	height: 100px;
}

.footer-bar > .con {
	display: flex;
	background-color: rgb(171, 184, 224);
}

.footer-left {
	display: flex;
	flex-grow: 1;
}

.copyright {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.copyright > p {
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
}

.footer-right {
	display: flex;
	flex-direction: column;
	padding-inline: 1.5rem;
}

.sns-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.sns-list > ul > li > a {
	display: inline-block;
	padding: 0 1.3rem;
	color: #fff;
	position: relative;
}

.footer-list > ul > li:hover > a {
	color: red;
	text-decoration: underline;
}

.footer-list > ul > li:not(:last-child) > a::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 1px;
	height: 11px;
	background-color: #fff;
}

.family-site {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}
/* 푸터 구현 끝 */
